extends ../../layout/auth.pug

block main
    .section-otp
        .otp-container
            h2.title Xác thực OTP

            p.desc Nhập mã OTP đã được gửi về email của bạn

            form(method="POST" action="/user/forgot-password/otp")
                .form-group 
                    label(for="email") Email 
                    input(
                        id="email" 
                        value=email 
                        name="email"
                        readonly
                    ) 
                .form-group
                    label(for="otp") Mã OTP
                    input(
                        id="otp" 
                        class="input-otp"
                        type="text" 
                        name="otp" 
                        placeholder="Nhập mã OTP..." 
                        maxlength="6" 
                        required
                    )

                button.btn-submit(type="submit") Xác nhận

            .extra
                a(href="/auth/forgot-password") ← Gửi lại OTP