extends ../../layout/auth.pug

block main
    .auth-container
        .auth-box
            h2 Đăng nhập

            form(
                method="POST" 
                action="/user/login"
            )
                .form-group
                    label Email
                    input(
                        type="email" 
                        name="email" 
                        required 
                        placeholder="Nhập email"
                    )

                .form-group
                    label Mật khẩu
                    input(
                        type="password" 
                        name="password" 
                        required 
                        placeholder="Nhập mật khẩu"
                    )

                button(
                    class="btn-submit" 
                    type="submit"
                ) Đăng nhập

            p.switch
                | Chưa có tài khoản?
                a(href="/user/register") Đăng ký