extends ../../layout/default.pug

block content
    div(class="cart-container")
        div(class="cart-header")
            h2(class="title") Giỏ hàng của bạn
            if(user)
                a(
                    class="btn btn-primary"
                    href="/order"
                ) Đơn hàng của bạn
        table(class="cart-table")
            thead
                tr
                    th Ảnh
                    th Tên sản phẩm
                    th Slug
                    th Số lượng
                    th Giảm giá
                    th Thành tiền
                    th Hành động

            tbody
                each item in cart.product
                    tr
                        td
                            img(
                                class="cart-img"
                                src=item.productInfo.image
                                )

                        td
                            div(
                                class="name"
                            ) #{item.productInfo.name}

                        td
                            a(
                                href=`/product/detail/${item.productInfo.slug}-${item.product_id}`
                            )
                                div(
                                    class="slug"
                                ) #{item.productInfo.slug}

                        td
                            input(
                                class="quantity" 
                                type="number" 
                                min="1"
                                max=item.productInfo.stock
                                name="quantity" 
                                value=item.quantity
                                quantity-product 
                                id_product = item.product_id
                            )
                        td 
                            div(class="discount") -#{item.discountPercentage}%
                        td
                            div(class="total") #{item.productInfo.newPrice.toLocaleString('vi-VN') + ' ₫'} 

                        td
                            div(class="d-flex gap-2")
                                button(
                                    class="btn btn-danger flex-fill"
                                    btn-id=item.product_id 
                                    btn-delete
                                ) Xóa
                                //- a(
                                //-     class="btn btn-primary flex-fill"
                                //-     href=`/product/detail/${item.product_id}`
                                //- ) Chi tiết
    //- Checkout bar
    .checkout-bar
        .checkout-left
            span(class="total-label") Tổng tiền:
            span(class="total-price") 
                | #{myCart.totalPrice ? myCart.totalPrice.toLocaleString('vi-VN') : '0'} ₫

        .checkout-right
            a(
                href="/checkout"
                class="btn-checkout"
            ) Thanh toán
    form(
        action=`/cart/delete/`, 
        method="post"
        form-delete
    ) 
    script(src="/client/JS/cart.js") 