extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug
include ../../mixin/convertTime.pug

block main
    +success(3000)
    .card.shadow-sm.mb-3
        .card-header
            h5.mb-0 Chi tiết đơn hàng

        .card-body

            .row

            .col-md-6
                h6 Thông tin khách hàng
                p Tên: #{order.userInfo.userName}
                p SĐT: #{order.userInfo.phone}
                p Địa chỉ: #{order.userInfo.address}

            .col-md-6
                h6 Thông tin đơn hàng
                p Mã đơn: #{order.order_id}
                p Ngày tạo: 

                p
                | Trạng thái:
                if order.status == "pending"
                    span.badge.bg-warning.ms-2 Chờ xử lý
                else if order.status == "shipping"
                    span.badge.bg-info.ms-2 Đang giao
                else if order.status == "completed"
                    span.badge.bg-success.ms-2 Hoàn thành
                else
                    span.badge.bg-danger.ms-2 Đã hủy

            hr

            h6.mt-3 Danh sách sản phẩm

            table.table

                thead
                    tr
                    th Sản phẩm
                    th Giá
                    th Số lượng
                    th Thành tiền

                tbody
                    each item in order.product
                        tr
                            td #{item.name}
                            td #{item.price} VNĐ
                            td #{item.quantity}
                            td.text-success #{item.price * item.quantity} VNĐ

            hr

            h5.text-end
            | Tổng tiền:
            span.text-success.ms-2 #{order.totalPrice} VNĐ

            .mt-3
            a.btn.btn-secondary(href="/admin/orders") Quay lại