extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug
include ../../mixin/sort.pug
include ../../mixin/convertTime.pug

block main
    +success(3000)
    if(roleAccount.permission.includes("order_view"))
        .row.mb-4

            // Tổng đơn
            .col-md-3
                .card.shadow-sm.stat-card
                    .card-body
                        .d-flex.justify-content-between
                            div
                                p.text-muted.mb-1 Tổng đơn
                                h3.mb-1 #{order.length}
                                span.text-success ▲ 8.2%
                            i.bi.bi-receipt.fs-2.text-primary

            // Hoàn thành
            .col-md-3
                .card.shadow-sm.stat-card
                    .card-body
                        .d-flex.justify-content-between
                            div
                                p.text-muted.mb-1 Hoàn thành
                                h3.mb-1 938
                                span.text-success ▲ 5.1%
                            i.bi.bi-check-circle.fs-2.text-success

            // Chờ xử lý
            .col-md-3
                .card.shadow-sm.stat-card
                    .card-body
                        .d-flex.justify-content-between
                            div
                                p.text-muted.mb-1 Chờ xử lý
                                h3.mb-1 124
                                span.text-danger ▼ 2.3%
                            i.bi.bi-hourglass-split.fs-2.text-warning

            // Doanh thu
            .col-md-3
                .card.shadow-sm.stat-card
                    .card-body
                        .d-flex.justify-content-between
                            div
                                p.text-muted.mb-1 Doanh thu
                                h3.mb-1 184M
                                span.text-success ▲ 12.4%
                            i.bi.bi-cash-stack.fs-2.text-info
            .card.shadow-sm
                .card-body
                    h5.mb-3 Bộ lọc và Tìm kiếm
                        .row.align-items-center
                            // Bộ lọc trạng thái
                            .col-md-4
                                +filterStatusOrder(listStatusOrder)
                            .col-md-4
                                +sortOrder
                            .col-md-4
                                +search(keyword)
        .card.shadow-sm.mb-3
            .card-header.d-flex.justify-content-between.align-items-center
                h5.mb-0 Danh sách đơn hàng
                // Select hành động
                if(roleAccount.permission.includes("order_edit"))
                    form(
                        action=`${prefixAdmin}/orders/change-multi-status?_method=PATCH` 
                        method="POST" 
                        form-change-multi
                        class="d-flex gap-2"
                    )
                        +selectOptionOrder()
            .card-body

                table(
                    class="table table-hover"
                )
                    thead
                        th
                            input(
                                    type="checkbox"
                                    checkbox-all
                                )
                        th STT
                        th Mã đơn
                        th Khách hàng
                        th Sản phẩm
                        th Vị trí
                        th Tổng tiền
                        th Trạng thái
                        th Ngày tạo
                        th Hành động
                    tbody
                        each item, index in order
                            tr
                                td
                                    input(
                                        type="checkbox"
                                        checkbox-item
                                        name="id"
                                        value = item.id
                                    )
                                td #{index+1}
                                td #{item.order_id}
                                
                                td #{item.userInfo.userName}
                                td #{item.product.length}
                                td 
                                    if(roleAccount.permission.includes("order_edit"))
                                        input(
                                            position-input 
                                            value = item.position 
                                            min = 1
                                            type="number"
                                            name = "position"
                                            style="width:50px"
                                        )
                                    else 
                                        input(
                                            value = item.position 
                                            min = 1
                                            type="number"
                                            name = "position"
                                            style="width:50px"
                                        )
                                td(
                                    class="text-success"
                                ) #{item.totalPrice} VNĐ
                                td
                                    if(roleAccount.permission.includes("order_edit"))
                                        -if (item.status == "pending")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-warning"
                                                change-status
                                                status=item.status
                                                id=item.id
                                            ) Chờ xử lý
                                        -else if (item.status == "shipping")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-info"
                                                change-status
                                                status=item.status
                                                id=item.id
                                            ) Đang giao
                                        -else if (item.status == "completed")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-success"
                                                change-status
                                                status=item.status
                                                id=item.id
                                            ) Hoàn thành
                                        -else if(item.status== "processing")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-warning"
                                                change-status
                                                status=item.status
                                                id=item.id
                                            ) Đang xử lý
                                        -else
                                            a(
                                                href="javascript:;"
                                                class="badge bg-danger"
                                                change-status
                                                status=item.status
                                                id=item.id
                                            ) Đã hủy
                                    else 
                                        -if (item.status == "pending")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-warning"
                                            ) Chờ xử lý
                                        -else if (item.status == "shipping")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-info"
                                            ) Đang giao
                                        -else if (item.status == "completed")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-success"
                                            ) Hoàn thành
                                        -else if(item.status== "processing")
                                            a(
                                                href="javascript:;"
                                                class="badge bg-warning"
                                            ) Đang xử lý
                                        -else
                                            a(
                                                href="javascript:;"
                                                class="badge bg-danger"
                                            ) Đã hủy
                                td 
                                    +date(item.createAt)

                                td
                                    a(
                                        class="btn btn-sm btn-primary"
                                        href=`${prefixAdmin}/orders/detail/${item._id}`
                                    ) Xem
        form(
            action=`${prefixAdmin}/orders/change-status`, 
            method="post",
            form-change-status
        ) 
        form(
            action = `${prefixAdmin}/orders/delete`
            method="post"
            form-delete
        )

        script(src="/admin/JS/product.js") 
        script(src="/admin/JS/order.js")
                            