include ../mixin/submenu.pug
include ../mixin/selectBrand.pug
nav.navbar.navbar-expand-lg.fixed-top
  .container
    a(class="navbar-brand fw-bold fs-3 d-flex align-items-center" href="/")
      img(
        src=""
        alt="Logo"
      )
      

    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#nav")
      span.navbar-toggler-icon

    .collapse.navbar-collapse#nav
      ul.navbar-nav.mx-auto
        li.nav-item
          a(
            class="nav-link text-light"
            href="/"
          ) Trang chủ
        li.nav-item
          a.nav-link.text-light(href="/product") Shop

        li.nav-item.has-submenu
          a.nav-link.text-light(href=`/product/category/${category[0].slug}`) Danh mục
          ul.dropdown-menu-custom
            - const path = "/product/category"
            -if(category && category.length > 0)
              +submenu(path, category)  
        li.nav-item
          a.nav-link.text-light(href=`/product/brand/${brand[0].slug}`) Thương hiệu
          ul.dropdown-menu-custom
            - const pathBrand = "/product/brand"
            if(brand.length > 0)
              +brandSelect(pathBrand, brand)
        li.nav-item
          a.nav-link.text-light(href="/post") Bài viết
        li.nav-item
          a.nav-link.text-light(href="/chat") Liên hệ

      .d-flex.align-items-center.gap-4
        form(
          action="/search"
          method="GET"
        )
          div(
            class="input-group"
            style="width: 260px;"
          )
            input(
              class="form-control bg-dark text-light border-secondary" 
              placeholder="Tìm kiếm sản phẩm..." 
              type="text"
              name="keyword"
            )
            button(class="btn btn-outline-light")
              i(class="fas fa-search")

        a(class="text-light fs-4" href="/cart")
          i(class="fas fa-shopping-bag")
          span(
            class="position-absolute translate-middle badge bg-danger rounded-pill" 
            style="font-size:0.7rem; margin-left: -8px;"
          ) #{cart.totalQuantity || 0}

        a(
          class="text-light fs-4" 
          href="/user/info"
        )
          i(class="fas fa-user")
        a(
          class="text-light fs-1"
          href="/user/logout"
        )
          i(class="fa-solid fa-right-from-bracket fa-xs")