include ../mixin/submenu.pug

nav.navbar.navbar-expand-lg.fixed-top
  .container
    a(class="navbar-brand fw-bold fs-3 d-flex align-items-center" href="/")
      img(
        src=""
        alt="Logo"
      )
      

    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#nav")
      span.navbar-toggler-icon

    .collapse.navbar-collapse#nav
      ul.navbar-nav.mx-auto
        li.nav-item
          a(
            class="nav-link text-light"
            href="/"
          ) Trang chủ
        li.nav-item
          a.nav-link.text-light(href="/product") Shop

        li.nav-item.has-submenu
          a.nav-link.text-light(href="#") Thương hiệu
          ul.dropdown-menu-custom
            - const path = "category"
            +submenu(path, category)

        li.nav-item
          a.nav-link.text-light(href="/post") Bài viết
        li.nav-item
          a.nav-link.text-light(href="/chat") Liên hệ

      .d-flex.align-items-center.gap-4
        form(
          action="/search"
          method="GET"
        )
          .input-group(style="width: 260px;")
            input(
              class="form-control bg-dark text-light border-secondary" 
              placeholder="Tìm kiếm sản phẩm..." 
              type="text"
            )
            button(class="btn btn-outline-light")
              i(class="fas fa-search")

        a(class="text-light fs-4" href="/cart")
          i(class="fas fa-shopping-bag")
          span.position-absolute.translate-middle.badge.bg-danger.rounded-pill(style="font-size:0.7rem; margin-left: -8px;") 4

        a(
          class="text-light fs-4" 
          href="/user/info"
        )
          i(class="fas fa-user")
        a(
          class="text-light fs-1"
          href="/user/logout"
        )
          i(class="fa-solid fa-right-from-bracket fa-xs")