extends ../../layout/default.pug

block content
    // Hero
    section.hero
        .container.position-relative.z-3
            .row.align-items-center
                .col-lg-6
                    h1(class="display-1 fw-bold mb-3")
                        //- | Nâng tầm trải nghiệm công nghệ của bạn
                        | Future is <span style="color:#a855f7;">NOW</span>
                    p(class="lead mb-4 text-light")
                        | Công nghệ hiện đại – Cuộc sống tiện nghi
                    .d-flex.gap-3
                        a(
                            class="btn btn-primary btn-lg px-5" 
                            href="/shop"
                        ) Shop Now
                        //- a(
                        //-     class="btn btn-outline-light btn-lg px-5" 
                        //-     href="#"
                        //- ) Watch Video

                .col-lg-6.text-center
                    img(
                        class="img-fluid"
                        src="https://images.openai.com/static-rsc-4/OfuElgmPYxUaWWKrJWOOTbdBUh__MhYeVaNVapEltlS2Z5iJSPEmzOuVcMuKupY1fe8f5iUgAqdNnS-GHgMD24WidSMq6fiSlbBnuNTphwnEPf3q-kCrHWgPq08yXWsff88pyIFXHz5q930U5EqDgpV38mXtXf4J-5LsbMmQxFc?purpose=inline" 
                        alt="VOLT Hero" 
                        style="filter: drop-shadow(0 30px 60px rgba(168,85,247,0.4));"
                    )

    // Featured Categories
    section.py-5
        .container
            h2(class="section-title text-center mb-5 Discover Categories") Khám phá danh mục
            .d-flex.category-filter.mb-4
                each item in category
                    a(
                        href=`/product/category/${item.slug}`
                        class="btn btn-outline-light"
                        ) #{item.name}
                    
                
    // Best Sellers
    section.py-5.bg-black
        .container
            .d-flex.justify-content-between.align-items-end.mb-5
                h2(class="section-title") Bán chạy nhất
                a(
                    class="btn btn-outline-light" 
                    href="/product"
                ) Tất cả →

        .row.g-4
            .col-lg-3.col-md-6
                .product-card.card.h-100
                    img.card-img-top(src="https://picsum.photos/id/180/400/300" alt="")
                    .card-body
                        h5 MacBook Pro M3 Max
                        p.text-muted.small 32GB • 1TB SSD
                        h4.text-white.mt-3 68.990.000 ₫
                        button.btn.btn-primary.w-100.mt-3 Thêm vào giỏ

            .col-lg-3.col-md-6
                .product-card.card.h-100
                    img.card-img-top(src="https://picsum.photos/id/201/400/300" alt="")
                    .card-body
                        h5 iPhone 16 Pro Max
                        p.text-muted.small Titan Desert
                        h4.text-white.mt-3 34.990.000 ₫
                        button.btn.btn-primary.w-100.mt-3 Thêm vào giỏ
    // Nổi bật
    section.py-5.bg-black
        .container
            .d-flex.justify-content-between.align-items-end.mb-5
                h2(class="section-title") Sản phẩm nổi bật
                a(
                    class="btn btn-outline-light" 
                    href="/product"
                ) Tất cả →
        .row.g-4
            each item in productFeatured 
                .col-lg-3.col-md-6
                    .product-card.card.h-100
                        img(
                            class="card-img-top"
                            src=item.image
                            alt=""
                            height="197"
                        )
                        .card-body
                            h5(class="text-info") #{item.name}
                            h4(
                                class="text-white mt-3"
                            ) #{item.newPrice} đ
                            button(
                                class="btn btn-primary w-100 mt-3"
                            ) Thêm vào giỏ
    // Mới nhất
    section.py-5.bg-black
        .container
            .d-flex.justify-content-between.align-items-end.mb-5
                h2(class="section-title") Sản phẩm mới nhất
                a(
                    class="btn btn-outline-light" 
                    href="/product"
                ) Tất cả →
        .row.g-4
            each item in productNew 
                .col-lg-3.col-md-6
                    .product-card.card.h-100
                        img(
                            class="card-img-top"
                            src=item.image
                            alt=""
                            height="197"
                        )
                        .card-body
                            h5(class="text-info") #{item.name}
                            h4(
                                class="text-white mt-3"
                            ) #{item.newPrice} đ
                            button(
                                class="btn btn-primary w-100 mt-3"
                            ) Thêm vào giỏ

            