extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug

block main 
    +error(3000)
    if(roleAccount.permission.includes("account_edit"))
        .card.shadow-sm
            .card-body
                form(
                    action=`${prefixAdmin}/accounts/edit/${accountAdmin.id}?_method=PATCH`
                    method="POST"
                    enctype="multipart/form-data"
                )

                    .row

                        // Full name
                        .col-md-6.mb-3
                            label(class="form-label") Họ tên
                            input(
                                class="form-control"
                                type="text"
                                name="fullName"
                                value = accountAdmin.fullName
                            )

                        // Phone
                        .col-md-6.mb-3
                            label(class="form-label") Số điện thoại
                            input(
                                class="form-control"
                                type="text"
                                name="phone"
                                value=accountAdmin.phone
                            )

                    .row

                        // Email
                        .col-md-6.mb-3
                            label(class="form-label") Email
                            input(
                                class="form-control"
                                type="email"
                                name="email"
                                value=accountAdmin.email
                            )

                        // Password
                        .col-md-6.mb-3
                            label(class="form-label") Mật khẩu
                            input(
                                class="form-control"
                                type="password"
                                name="password"
                            )
                    // Avatar
                    .mb-3
                        label(class="form-label") Avatar
                        input(
                            class="form-control"
                            type="file"
                            name="avatar"
                            img-src
                        )
                        img(
                            src=accountAdmin.avatar
                            alt=""
                            img-preview
                            width="200"
                        )

                    

                    .mt-3
                        button(
                            class="btn btn-success" 
                            type="submit"
                        ) Cập nhật
                        if(roleAccount.permission.includes("account_view"))
                            a(
                                class="btn btn-secondary ms-2" 
                                href=`${prefixAdmin}/my-account`
                            ) Quay lại
        script(src="/admin/JS/product.js") 
        script(src="/admin/JS/TinyMCE.js") 