extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug
include ../../mixin/selectTree.pug

block main 
    +error(3000)
    if(roleAccount.permission.includes("products_create"))
        .card-body
            form(
                action="/admin/products/create" 
                method="POST" 
                enctype="multipart/form-data"
            )

                .row

                    // Tên sản phẩm
                    .col-md-6.mb-3
                        label(class="form-label") Tên sản phẩm
                        input(
                            class="form-control"
                            type="text"
                            name="name"
                            placeholder="Nhập tên sản phẩm"
                            
                        )

                    // Giá
                    .col-md-3.mb-3
                        label(class="form-label") Giá
                        input(
                            class="form-control"
                            type="number"
                            name="price"
                            placeholder="0"
                        )

                    // Giảm giá
                    .col-md-3.mb-3
                        label(class="form-label") Giảm giá (%)
                        input(
                            class="form-control"
                            type="number"
                            name="discountPercentage"
                            value="0"
                        )

                    // Mô tả
                    .mb-3
                        label(class="form-label") Mô tả
                        textarea(
                            class="form-control tinymce"
                            name="description"
                            rows="4"
                            placeholder="Nhập mô tả sản phẩm"
                        )

                .row

                    // Ảnh
                    .col-md-6.mb-3
                        label(class="form-label") Ảnh sản phẩm
                        input(
                            class="form-control"
                            type="file"
                            name="image"
                            img-src
                        )
                        img(
                            src=""
                            alt=""
                            img-preview
                            width="200"
                        )

                    // Danh mục
                    .col-md-3.mb-3
                        label(class="form-label") Danh mục
                        select(class="form-select" name="category_id")
                            +selectTree(category, 1)
                    // Thương hiệu
                    .col-md-3.mb-3
                        label(class="form-label") Thương hiệu
                        select(class="form-select" name="brand_id")
                            each item in brand 
                                option(value=item._id) #{item.title}
                    .col-md-3.mb-3 
                        div(class="form-group form-check form-check-inline")
                            input(
                                type="radio"
                                class="form-check-input"
                                name="featured"
                                value= "1"
                                checked
                            )
                            label(for="featured" class="form-label") Nổi bật
                        div(class="form-group form-check form-check-inline")
                            input(
                                type="radio"
                                class="form-check-input"
                                name="featured"
                                value= "0"
                            )
                            label(for="statusInActive" class="form-label") Không
                    .mb-3
                        label(class="form-label") Số lượng
                        input(
                            class="form-control"
                            type="number"
                            name="stock"
                            min=0
                            value=0
                            style="width: 80px;"
                        )
                    // Trạng thái
                    .col-md-3.mb-3
                        label(class="form-label") Trạng thái
                        select(class="form-select" name="status")
                            option(value="active") Hoạt động
                            option(value="inactive") Ngừng hoạt động

                // Position
                .mb-3
                    label(class="form-label") Vị trí
                    input(
                        class="form-control"
                        type="number"
                        name="position"
                        value=count + 1
                    )

                // Button
                .mt-3
                    button(
                        class="btn btn-success"
                        type="submit"
                    ) Lưu sản phẩm
                    if(roleAccount.permission.includes("products_view"))
                        a(
                            class="btn btn-secondary ms-2"
                            href="/admin/products"
                        ) Quay lại
        script(src="/admin/JS/product.js") 
        script(src="/admin/JS/TinyMCE.js") 