extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug
include ../../mixin/selectTree.pug

block main 
    +error(3000)
    +success(3000)
    if(roleAccount.permission.includes("products_edit"))
        .card-body
            form(
                action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
                method="POST" 
                enctype="multipart/form-data"
            )

                .row

                    // Tên sản phẩm
                    .col-md-6.mb-3
                        label(class="form-label") Tên sản phẩm
                        input(
                            class="form-control"
                            type="text"
                            name="name"
                            placeholder="Nhập tên sản phẩm"
                            value=product.name
                        )

                    // Giá
                    .col-md-3.mb-3
                        label(class="form-label") Giá
                        input(
                            class="form-control"
                            type="number"
                            name="price"
                            placeholder="0"
                            value=product.price
                        )

                    // Giảm giá
                    .col-md-3.mb-3
                        label(class="form-label") Giảm giá (%)
                        input(
                            class="form-control"
                            type="number"
                            name="discountPercentage"
                            value=product.discountPercentage
                        ) 

                    // Mô tả
                    .mb-3
                        label(class="form-label") Mô tả
                        textarea(
                            class="form-control tinymce"
                            name="description"
                            rows="4"
                            placeholder="Nhập mô tả sản phẩm"
                            
                        ) #{product.description}

                .row

                    // Ảnh
                    .col-md-4.mb-3
                        label(class="form-label") Ảnh sản phẩm
                        input(
                            class="form-control"
                            type="file"
                            name="image"
                        )
                        img(
                            src=product.image
                            alt=""
                            img-preview
                            width="200"
                        )

                    // Danh mục
                    .col-md-3.mb-3
                        label(class="form-label") Danh mục
                        select(class="form-select" name="category_id")
                            +selectTree(category, 1, product.category_id)
                    // Thương hiệu
                    .col-md-3.mb-3
                        label(class="form-label") Thương hiệu
                        select(class="form-select" name="brand_id")
                            each item in brand 
                                option(value=item._id) #{item.title}
                    .col-md-3.mb-3 
                        div(class="form-group form-check form-check-inline")
                            input(
                                type="radio"
                                class="form-check-input"
                                name="featured"
                                value= "1"
                                checked = (product.featured =="1" ? true : false)
                            )
                            label(for="featured" class="form-label") Nổi bật
                        div(class="form-group form-check form-check-inline")
                            input(
                                type="radio"
                                class="form-check-input"
                                name="featured"
                                value= "0"
                                checked = (product.featured == "0" ? true : false)
                            )
                            label(for="statusInActive" class="form-label") Không
                    // Trạng thái
                    .col-md-3.mb-3
                        label(class="form-label") Trạng thái
                        select(class="form-select" name="status")
                            option(
                                value="active"
                                selected = (product.status == "active" ? true : false)
                            ) Hoạt động
                            option(
                                value="inactive"
                                selected = (product.status == "inactive" ? true : false)
                            ) Ngừng hoạt động

                // Position
                .mb-3
                    label(class="form-label") Vị trí
                    input(
                        class="form-control"
                        type="number"
                        name="position"
                        value=product.position
                    )

                // Button
                .mt-3
                    button(
                        class="btn btn-success"
                        type="submit"
                    ) Cập nhật
                    if(roleAccount.permission.includes("products_view"))
                        a(
                            class="btn btn-secondary ms-2"
                            href="/admin/products"
                        ) Quay lại
        script(src="/admin/JS/product.js") 
        script(src="/admin/JS/TinyMCE.js") 