extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug

block main
    +success(3000)
    .card.shadow-sm
        .card-body
            h5.mb-3 Bộ lọc và Tìm kiếm
                .row.align-items-center
                    // Bộ lọc trạng thái
                    .col-md-6
                        +filterStatus(listStatus)
                    .col-md-6
                        +search(keyword)
    .card.shadow-sm
        .card-header.d-flex.justify-content-between.align-items-center
            //- h5.mb-0 Danh sách sản phẩm
            // Select hành động
            form(
                action=`${prefixAdmin}/products/change-multi-status?_method=PATCH` 
                method="POST" 
                form-change-multi
                class="d-flex gap-2"
            )
                +selectOption()
            a(
                class = "btn btn-primary"
                href=`${prefixAdmin}/products/create`
            ) + Thêm sản phẩm

        .card-body

            table(
                class="table table-hover"
                checkbox-multi
            )
                thead
                    tr
                        th 
                            input(
                                type="checkbox"
                                checkbox-all
                            )
                        th STT
                        th Hình
                        th Tên sản phẩm
                        th Giá
                        th Vị trí
                        th Trạng thái
                        //- th Danh mục
                        th Hành động

                tbody
                    each item, index in product
                        tr
                            td 
                                input(
                                    type="checkbox"
                                    checkbox-item
                                    name="id"
                                    value = item.id
                                )
                            td #{item.indexProduct}
                            td
                                img(
                                    src=item.image
                                    alt=item.name
                                    hight= "auto"
                                    width = "100px"
                                    loading="lazy"
                                )
                            td #{item.name}
                            td #{item.newPrice}
                            td 
                                input(
                                    position-input 
                                    value = item.position 
                                    min = 1
                                    type="number"
                                    name = "position"
                                    style="width:70px"
                                )
                            td 
                                if(item.status == "active")
                                    a(
                                        href="javascript:;"
                                        class="badge bg-success"
                                        change-status
                                        status=item.status
                                        id=item.id
                                    ) Hoạt động
                                else
                                    a(
                                        href="javascript:;"
                                        class="badge bg-danger"
                                        change-status
                                        status=item.status
                                        id=item.id
                                    ) Ngừng hoạt động
                            //- td Laptop
                            td
                                a(
                                    href=`${prefixAdmin}/products/detail/${item.id}`
                                    class="btn btn btn-info btn-sm"
                                    id = item.id 
                                    detail
                                ) Chi tiết
                                a(
                                    href=`${prefixAdmin}/products/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                    id = item.id 
                                    button-update
                                ) Sửa
                                button(
                                    class="btn btn-danger btn-sm"
                                    btn-delete
                                    btn-id = item.id
                                ) Xóa
    +pagination(objectPage)
    form(
        action=`${prefixAdmin}/products/change-status`, 
        method="post",
        form-change-status
    ) 
    form(
        action = `${prefixAdmin}/products/delete`
        method="post"
        form-delete
    )

    script(src="/admin/JS/product.js") 
                        