.sidebar

  h4.logo ADMIN

  ul(
    class = "menu"
    prefix = `${prefixAdmin}`
  )
    // ===== Tổng quan =====
    li.menu-title
      i(class="bi bi-speedometer2")
      |  Tổng quan
    
    li(class="menu-item")
      a(
        href=`${prefixAdmin}/dashboard`
      )
        i(class="bi bi-speedometer2")
        |  Dashboard
    // ===== Bán hàng =====
    li.menu-title
      i(class="bi bi-folder2-open")
      |  Bán hàng
    if(roleAccount.permission.includes("products_view"))
      li(class="menu-item")
        a(href=`${prefixAdmin}/products`)
          i(class="bi bi-box")
          |  Sản phẩm
    if(roleAccount.permission.includes("products-category_view"))
      li(class="menu-item")
        a(href=`${prefixAdmin}/categorys`)
          i(class="bi bi-tags")
          |  Danh mục sản phẩm
    if(roleAccount.permission.includes("order_view"))
      li(class="menu-item")
        a(href=`${prefixAdmin}/orders`)
          i(class="bi bi-cart")
          |  Đơn hàng

    if(roleAccount.permission.includes("user_view"))
      li(class="menu-item")
        a(href=`${prefixAdmin}/users`)
          i(class="bi bi-people")
          |  Khách hàng

    // ===== Quản lý =====
    li.menu-title
      i(class="bi bi-gear")
      |  Quản lý
    if(roleAccount.permission.includes("view"))
      li(class="menu-item")
        a(href=`${prefixAdmin}/roles`)
          i(class="bi bi-people-fill")
          |  Nhóm quyền
    if(roleAccount.permission.includes("permission"))
      li(class="menu-item-permission")
        a(href=`${prefixAdmin}/roles/permissions`)
          i(class="bi bi-person-circle")
          |  Phân quyền
    if(roleAccount.permission.includes("account_view"))
      li(class="menu-item")
        a(href=`${prefixAdmin}/accounts`)
          i(class="bi bi-person-gear")
          |  Tài khoản

    // ===== Hệ thống =====
    li.menu-title
      i(class="bi bi-gear")
      |  Hệ thống
    if(roleAccount.permission.includes("settingsgeneral"))
      
      
  script(src="/admin/JS/sidebar.js") 