extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug

block main 
    +error(3000)
    if(roleAccount.permission.includes("brand_edit"))
        .card-body
            form(
                action=`${prefixAdmin}/brands/edit/${brand._id}?_method=PATCH` 
                method="POST" 
                enctype="multipart/form-data"
            )

                .row

                    // Tên sản phẩm
                    .col-md-6.mb-3
                        label(class="form-label") Tên thương hiệu
                        input(
                            class="form-control"
                            type="text"
                            name="title"
                            placeholder="Nhập tên sản phẩm"
                            value=brand.title
                        )

                    // Mô tả
                    .mb-3
                        label(class="form-label") Mô tả
                        textarea(
                            class="form-control tinymce"
                            name="description"
                            rows="4"
                            placeholder="Nhập mô tả sản phẩm"
                        )   !{brand.description}

                .row

                    // Ảnh
                    .col-md-6.mb-3
                        label(class="form-label") Ảnh thương hiệu
                        input(
                            class="form-control"
                            type="file"
                            name="image"
                            img-src
                        )
                        img(
                            src=brand.image
                            alt=""
                            img-preview
                            width="200"
                        )
                    
                    // Trạng thái
                    .col-md-3.mb-3
                        label(class="form-label") Trạng thái
                        select(class="form-select" name="status")
                            option(value="active" selected=(brand.status == "active" ? true : false)) Hoạt động
                            option(value="inactive" selected=(brand.status == "inactive" ? true : false)) Ngừng hoạt động

                // Position
                .mb-3
                    label(class="form-label") Vị trí
                    input(
                        class="form-control"
                        type="number"
                        name="position"
                        value=brand.position
                    )

                // Button
                .mt-3
                    button(
                        class="btn btn-success"
                        type="submit"
                    ) Cập nhật
                    if(roleAccount.permission.includes("brand_view"))
                        a(
                            class="btn btn-secondary ms-2"
                            href="/admin/brand"
                        ) Quay lại
        script(src="/admin/JS/product.js") 
        script(src="/admin/JS/TinyMCE.js") 