extends ../../layout/default.pug
include ../../mixin/pagination.pug
include ../../mixin/alert.pug

//- ==================== PHẦN BODY ====================
block content
    .section-change-password
        .change-password-container
            h1.change-password-title Đổi mật khẩu

            form.change-password-form(method="POST" action="/user/change-password")

                .change-password-group
                    label Mật khẩu hiện tại
                    input(
                        type="password" 
                        name="password" 
                        required
                    )

                .change-password-group
                    label Mật khẩu mới
                    input(
                        type="password" 
                        name="newPassword" 
                        required
                    )

                .change-password-group
                    label Xác nhận mật khẩu mới
                    input(
                        type="password" 
                        name="confirmPassword" 
                        required
                    )

                button.change-password-btn(type="submit") Cập nhật mật khẩu

            a.change-password-back(href="/user/info") ← Quay lại