mixin selectOption
    select(
        class="form-select form-select-sm"
        name="status" 
        style="width:200px"
        select-option
    )
        option(value="null") -- Chọn hành động --
        option(value="active") Hoạt động
        option(value="inactive") Ngừng hoạt động
        option(value="delete-all") Xóa sản phẩm
        option(value="position") Thay đổi vị trí
    input(
        type="text"
        name="ids"
        value=""
        class="form-control"
        hidden
    )

    button(
        class="btn btn-success btn-sm"
        type="submit"
        btn-changeMulti
    ) Áp dụng

mixin selectOptionOrder
    select(
        class="form-select form-select-sm"
        name="status" 
        style="width:200px"
        select-option
    )
        option(value="" selected = true) -- Chọn hành động --
        option(value="pending") Chờ duyệt
        option(value="processing") Đang xử lý
        option(value="completed") Hoàn thành
        option(value="cancel") Hủy đơn hàng
        option(value="shipping") Đang giao
        option(value="position") Thay đổi vị trí
    input(
        type="text"
        name="ids"
        value=""
        class="form-control"
        hidden
    )

    button(
        class="btn btn-success btn-sm"
        type="submit"
        btn-changeMulti
    ) Áp dụng

mixin selectOptionRole
    select(
        class="form-select form-select-sm"
        name="status" 
        style="width:200px"
        select-option
    )
        option(value="null") -- Chọn hành động --
        option(value="active") Hoạt động
        option(value="inactive") Ngừng hoạt động
        option(value="delete") Xóm nhóm quyền
    input(
        type="text"
        name="ids"
        value=""
        class="form-control"
        hidden
    )

    button(
        class="btn btn-success btn-sm"
        type="submit"
        btn-changeMulti
    ) Áp dụng

mixin selectOptionAccount
    select(
        class="form-select form-select-sm"
        name="status" 
        style="width:200px"
        select-option
    )
        option(value="null") -- Chọn hành động --
        option(value="active") Hoạt động
        option(value="inactive") Ngừng hoạt động
        option(value="delete") Xóa
    input(
        type="text"
        name="ids"
        value=""
        class="form-control"
        hidden
    )

    button(
        class="btn btn-success btn-sm"
        type="submit"
        btn-changeMulti
    ) Áp dụng
