extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug
include ../../mixin/selectTree.pug

block main 
    +error(3000)
    .card.shadow-sm
        .card-header
            h5.mb-0 Thêm danh mục

    .card-body
        form(
            action=`${prefixAdmin}/categorys/create`
            method="POST" 
            enctype="multipart/form-data"
        )

            .row

                // Tên sản phẩm
                .col-md-6.mb-3
                    label(class="form-label") Tên danh mục
                    input(
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="Nhập tên danh mục"
                        
                    )

                // Mô tả
                .mb-3
                    label(class="form-label") Mô tả
                    textarea(
                        class="form-control tinymce"
                        name="description"
                        rows="4"
                        placeholder="Nhập mô tả danh mục"
                    )

            .row

                // Ảnh
                .col-md-6.mb-3
                    label(class="form-label") Ảnh sản phẩm
                    input(
                        class="form-control"
                        type="file"
                        name="image"
                    )
                    img(
                        src=""
                        alt=""
                        img-preview
                    )
                // Danh mục
                .col-md-3.mb-3
                    label(class="form-label") Danh mục
                    select(class="form-select" name="parent_id")
                        option(value="" selected=true) -- Danh mục cha -- 
                        +selectTree(category, 1)

                // Trạng thái
                .col-md-3.mb-3
                    label(class="form-label") Trạng thái
                    select(class="form-select" name="status")
                        option(value="active") Hoạt động
                        option(value="inactive") Ngừng hoạt động

            // Position
            .mb-3
                label(class="form-label") Vị trí
                input(
                    class="form-control"
                    type="number"
                    name="position"
                    value="1"
                )

            // Button
            .mt-3
                button(
                    class="btn btn-success"
                    type="submit"
                ) Lưu sản phẩm
                a(
                    class="btn btn-secondary ms-2"
                    href=`${prefixAdmin}/categorys`
                ) Quay lại
    script(src="/admin/JS/product.js") 
    script(src="/admin/JS/TinyMCE.js") 