extends ../../layout/default.pug
include ../../mixin/filterStatus.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/OptionChangeMulti.pug
include ../../mixin/alert.pug
include ../../mixin/sort.pug
include ../../mixin/tableTree.pug

block main
    +success(3000)
    if(roleAccount.permission.includes("products-category_view"))
        .card.shadow-sm
            .card-body
                    .row
                        .col-4
                            +sort
        .card.shadow-sm
            .card-body
                h5.mb-3 Bộ lọc và Tìm kiếm
                    .row.align-items-center
                        // Bộ lọc trạng thái
                        .col-md-6
                            +filterStatus(listStatus)
                        .col-md-6
                            +search(keyword)
        .card.shadow-sm
            .card-header.d-flex.justify-content-between.align-items-center
                //- h5.mb-0 Danh sách sản phẩm
                // Select hành động
                if(roleAccount.permission.includes("products-category_edit"))
                    form(
                        action=`${prefixAdmin}/categorys/change-multi-status?_method=PATCH` 
                        method="POST" 
                        form-change-multi
                        class="d-flex gap-2"
                    )
                        +selectOption()
                if(roleAccount.permission.includes("products-category_create"))
                    a(
                        class = "btn btn-primary"
                        href=`${prefixAdmin}/categorys/create`
                    ) + Thêm danh mục

            .card-body

                table(
                    class="table table-hover"
                    checkbox-multi
                )
                    thead
                        tr
                            th 
                                input(
                                    type="checkbox"
                                    checkbox-all
                                )
                            th STT
                            th Hình
                            th Tên danh mục
                            th Vị trí
                            th Trạng thái
                            //- th Danh mục
                            th Hành động

                    tbody
                        +tableTree(category, 1)
        +pagination(objectPagination)
        form(
            action=`${prefixAdmin}/categorys/change-status`, 
            method="post",
            form-change-status
        ) 
        form(
            action = `${prefixAdmin}/categorys/delete`
            method="post"
            form-delete
        )

        script(src="/admin/JS/product.js") 
                            